{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="text-3xl font-bold text-indigo-500 text-center">
        <p>Vous êtes sur le du coverpro </p>



    </h1>

   {# <page backtop="20mm" backbottom="7mm" backleft="20mm" backright="20mm" backimgy="10mm">
        <page_header>
            <h1>{{ cover.nom }} {{ cover.prenom }}</h1>
        </page_header>
        <page_footer>
            {{ cover.nom }} {{ cover.prenom }}
            <h1>{{ cover.nom }} {{ cover.prenom }}</h1>
        </page_footer>

       <p >
           {{ message }}
       </p>

    </page>#}
{% endblock %}
