<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Site du coverpro">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Site du coverpro {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🛄</text></svg>">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/map/bootstrap.min.css.map') }}">

        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}">
        </script>
        <script src="{{ asset('assets/js/map/bootstrap.bundle.min.js.map') }}">
        </script>
        <script src="https://kit.fontawesome.com/589fbbd582.js" crossorigin="anonymous">
        </script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include'header.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
